<div class="row well well-lg sign-up-box">
  <div class="col-md-6">
    <%= form_for @user, url: { controller: "users", action: "create" },
                        html: { class: 'sign-up-form' } do |f| %>
      <%= f.text_field :name, placeholder: 'Name',
                              class: 'form-group form-control' %>
      <%= f.email_field :email, placeholder: 'Email',
                                class: 'form-group form-control' %>
      <%= f.password_field :password, placeholder: 'Password',
                                      class: 'form-group form-control' %>
      <%= f.password_field :password_confirmation,
                                      placeholder: 'Confirmation',
                                      class: 'form-group form-control' %>
      <%= f.submit 'Sign Up', class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Register today!</h2>
    <p class="lead">
      When you sign up you'll have the extra ability to publish and share
      your own remedies in addition to rating and commenting on those of
      others.
    </p>
    <p class="lead">
      So what are you waiting for?!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#6 Bootsrap Gridding</h3>
      <p>
        A quick guide to responsive gridding with bootstrap.
      </p>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#5 Validation Testing</h3>
      <p>
        Learn how to setup and use shoulda-matchers to test your active-
        record validations.
      </p>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#4 Simple Authentication</h3>
      <p>
        Use Devise to setup a complex user authentication system in a very
        simple way.
      </p>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#3 Wireframing</h3>
      <p>
        Learn some fundamental Sketch functionality to wireframe your next
        webapp.
      </p>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#2 Task Runners</h3>
      <p>
        Configure your environment with Grunt as a task manager for your front-
        end app.
      </p>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <div class="remedy-box">
      <h3>#1 Text Editors</h3>
      <p>
        A quick look at Atom, my text editor of choice.
      </p>
    </div>
  </div>
</div>
